## To Create the Dataframe

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

To download data and read the table

In [3]:
df = pd.read_html(url)[0]

Ignore cells with a borough that is Not assigned.

In [4]:
df=df[~df['Borough'].isin(['Not assigned'])]

More than one neighborhood can exist in one postal code area.   
If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [6]:
def jjv(df):
    return','.join(df.values)
df2 = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(jjv).reset_index()
df2.Neighbourhood.replace('Not assigned',df2.Borough, inplace=True)

To check the dataframe

In [8]:
df2.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [9]:
df2.shape

(103, 3)