## To Create the First Dataframe

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

To download data and read the table

In [3]:
df = pd.read_html(url)[0]

Ignore cells with a borough that is Not assigned.

In [4]:
df=df[~df['Borough'].isin(['Not assigned'])]

More than one neighborhood can exist in one postal code area.   
If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [5]:
def jjv(df):
    return','.join(df.values)
df2 = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(jjv).reset_index()
df2.Neighbourhood.replace('Not assigned',df2.Borough, inplace=True)

To check the dataframe

In [6]:
df2.rename(columns={'Postcode':'PostalCode'}, inplace = True)
df2.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [7]:
df2.shape

(103, 3)

## To Create the Second Dataframe(geographical coordinates)

In [8]:
df_g=pd.read_csv('http://cocl.us/Geospatial_data')

In [9]:
df_g.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df_g.rename(columns={'Postal Code':'PostalCode'}, inplace = True)

In [11]:
df_all = pd.merge(df2, df_g)

In [12]:
df_all.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [13]:
df_all.shape

(103, 5)